/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 html, body {
   height: 100%;
 }

 h2 {
   margin: 0;
   border: 0;
   padding: 0;
 }
 body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
 }

.mod-join {
  height: 660px;
  background-image: url(image_path("Couchsurfing_main_page.jpg"));
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.big-text{
  display: block;
  font-family: 'Lato-Light';
  font-size: 56px;
  color: white;
  line-height: 1.1;
  margin-bottom: 0;
}

.over-face {
  padding-top: 280px;
}

.in-testimonial {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 70px;
}

.mod-join-sub {
  display: block;
  font-family: 'Lato-Light';
  font-size: 24px;
  color: white;
  font-weight: lighter;
  line-height: 1.1;
  margin-top: 5px;
}

.mod-testimonials {
  height: 1100px;
  width: 100%;
  background-color: #287fb8;
  text-align: center;
  z-index: 2;
}

.info-box-container {
  width: 90%;
  max-width: 1220px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;

}

.info-box {
  background-color: #1996db;
  width: 33%;
  height: 777px;
  margin-right: 10px;
  box-sizing: border-box;
  z-index: 4;
  padding: 30px;
}

.info-box-title {
  color: white;
  font-size: 15px;
}

.info-image {
  width: 100%;
  margin-top: 30px;

}

.image-overlay {
  background-image: url(image_path("background-house.png");
  z-index: 3;
}

.mod-white {
  background-color: #fff;
  color: #fff;
}

.mod-short {
  height: 2px;
  margin-bottom: 1em;
  width: 50px;
  display: block;
}

 h1 {
   font-size: 16px;
   display: block;
 }

 .login-form-container {
   background-color: #fff;
   width: 500px;
   height: 579px;
   border-bottom: 2px solid rgba(0,0,0,0.15);
   border-radius: 8px;
   margin: 10px auto;
   position: relative;
 }

 .login-form-header {
   position: relative;
   width: 100%;
   height: 60px;
 }

 .login-form-header p {
   font-size: 20px;
   color: #34495E;
   position: absolute;
   top: 22%;
   left: 7%;
   transform: translate(0, -50)
 }

 .close-x {
   position: absolute;
   top: 50%;
   right: 7%;
   cursor: pointer;
   font-size: 24px;
   color: lightgrey;
 }

 .login-form-box {
   padding: 40px;
   text-align: center;
   border-top: 0.5px solid lightgray;
 }

 .login-input {
   width: 100%;
   height: 50px;
   padding-left: 10px;
   margin-top: 7px;
   font-size: 15px;
   background-color: white;
   border: 1px solid lightgrey;
   border-radius: 4px;
 }

 .session-submit {
   width: 100%;
   padding: 8px 12px;
   height: 45px;
   background-color: #1996db;
   cursor: pointer;
   color: white;
   margin-top: 40px;
   margin-bottom: 20px;
   font-size: 15px;
   border: 0;
   box-sizing: border-box;
   border-radius: 3px;
 }

 .login-signup {
   margin-top: 15px;
   height: 63px;
  }

 .signup {
   cursor: pointer;
   border: 1px solid #287FB8;
   box-sizing: border-box;
   border-radius: 3px;
   color: #287fb8;
   cursor: pointer;
   display: inline-block;
   font-size: 15px;
   line-height: 1.5;
   width: 100px;
   padding: 8px 12px;
   text-align: center;
   text-decoration: none;
   white-space: normal;
 }

.login {
  background-color: #287FB8;
  border: 1px solid #287FB8;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 1.5;
  width: 160px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
}

.modal-button {
  display: block;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.5;
  margin: 20px auto 0;
  width: 140px;
  color: grey;
  border: 1px solid #287FB8;
  border-radius: 3px;
  padding: 8px 12px;
}

p {
  color: lightgrey;
  line-height: 1.5;
}
.errors {
  color: red;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

 header {
   justify-content: center;
   background-color: #fff;
   border-bottom: 1px solid rgba(0,0,0,0.15);
   height: 63px;
   position: fixed;
   z-index: 10;
   top: 0;
   width: 100%;

 }

.logo {
  margin-top: 13px;
  font-family: "JennaSue", sans-serif;
  height: 30px;
  font-feature-settings: 'kern', 'liga' 1, 'pnum';
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #e64914;
}

.header-wrapper {
  display: flex;
  max-width: 1280px;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  position: absolute;

}

 .header-name {
   font-size: 40px;
 }

 .header-pic {
   border-radius: 50%;
   width: 40px;
   height: 40px;
 }

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-group {
  padding: 15px 0;
  box-sizing: border-box;
  position: relative;

}

.header-name {
  margin: 0 auto;
}

.header-button {
  margin: 10px 0px 20px;
  font-size: 15px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

footer {
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.15);
  font-size: 0.9em;
  padding: 2.2rem 0 1.5rem;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin: 0 auto;
  max-width: 1280;
  width: 100%;
}
