/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100%;

 }
 body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

 }

.mod-join {
  height: 600px;
  background-image: url("Couchsurfing_main_page.jpg");
  background-size: cover;
  text-align: center;

}

.big-text{
  display: block;
  font-size: 56px;
  color: white;
  font-weight: lighter;
  line-height: 1.1;
  margin-bottom: 0;
}
.over-face {
  padding-top: 280px;
}

.in-testimonial {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 70px;
}

.mod-join-sub {
  display: block;
  font-size: 24px;
  color: white;
  font-weight: lighter;
  line-height: 1.1;
  margin-top: 5px;
}

.mod-testimonials {
  height: 1000px;
  background-color: #287fb8;
  text-align: center;
  z-index: 2;
}

.image-overlay {
  background-image: url("background-house.png");
  z-index: 3;
}

.mod-white {
  background-color: #fff;
  color: #fff;
}

.mod-short {
  height: 2px;
  margin-bottom: 1em;
  width: 50px;
}


 div {
   /* background-color: red; */
 }

 h1 {
   font-size: 16px;
   display: block;
 }

 .login-form-container {
   background-color: #fff;
   border-bottom: 2px solid rgba(0,0,0,0.15);
   border-radius: 2px;
   margin: 10px auto;
   position: relative;
 }

 .signup {
   border: 1px solid #287FB8;
   margin-right: 20px;
   border-radius: 3px;
   color: #287fb8;
   cursor: pointer;
   display: inline-block;
   font-size: 15px;
   font-weight: bold;
   line-height: 1.5;
   width: 60px;
   padding: 8px 12px;
   text-align: center;
   text-decoration: none;
   white-space: normal;
 }

.login {
  background-color: #287FB8;
  border: 1px solid #287FB8;
  border-radius: 3px;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  width: 100px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
}

 header {
   display: block;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   border-bottom: 1px solid rgba(0,0,0,0.15);
   min-height: 63px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 2;

 }



 .header-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-top: 13px;
   width: 1280px;
   justify-content: space-between;
   position: relative;

 }
