.booking-form-container {
    background-color: #fff;
    width: 400px;
    height: 300px;
    border-radius: 8px;
    padding-top: 20px;
    margin:  auto;
    position: relative;

}

.booking-form-box {
  padding: 40px;
  text-align: center;
}
