/* SPECIAL LOGO FONT */
@font-face {
  font-family: "JennaSue";
  src: url('/assets/JennaSue');
}
/* FONT FOR STANDARD TEXT */
@font-face {
 font-family: 'Lato-Light';
 font-style: normal;
 font-weight: 200;
 src: url('/assets/Lato-Thin');
}

@font-face {
 font-family: 'Lato';
 font-style: normal;
 font-weight: 400;
 src: url('/assets/Lato-Regular');
}

@font-face {
 font-family: 'Lato-Bold';
 font-style: normal;
 font-weight: 700;
 src: url('/assets/Lato-Bold');
}
