// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location-top {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.location-main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.location-name-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  text-align: left;
  vertical-align: bottom;
}
.location-container {
  display: flex;
  height: 500px;
  width: 100%;
  max-width: 1280px;

}
.mod-join {
  height: 660px;
  background-image: url(image_path("Couchsurfing_main_page.jpg"));
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.mod-testimonials {
  height: 1100px;
  width: 100%;
  background-color: #287fb8;
  text-align: center;
  z-index: 2;
}

.events-container {
  background-color: white;
  margin-top: 35px;
  width: 100%;
  height: 875px;
}

.hosts-visitor {
  display: flex;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 33%;
  height: 500px;
  margin-right: 15px;
  box-sizing: border-box;
  z-index: 4;
}
.hosts-visitor-right {
  display: flex;
  margin-top: 10px;
  background-color: white;
  width: 33%;
  height: 500px;
  box-sizing: border-box;
  z-index: 4;
}


//USES DASH-MAIN and DASH-BODY for formatting

.city-name {
  display: block;
  padding-top: 210px;
  height: 100%;
  font-family: 'Lato';
  font-size: 56px;
  color: white;
  line-height: 1.1;
  margin-bottom: 0;
  text-shadow: 0 2px 2px rgba(0,0,0,.75);
}
