// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location-top {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.location-name-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  text-align: left;
  vertical-align: bottom;
}
.location-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  margin: 10px 10px;
  height: 3000px;

}

.events-hosts {
  background-color: white;
  width: 33%;
  height: 777px;
  margin-right: 15px;
  box-sizing: border-box;
  z-index: 4;
  padding: 10px;
}
.events-hosts-right {
  background-color: white;
  width: 33%;
  height: 777px;
  box-sizing: border-box;
  z-index: 4;
  padding: 10px;
}


.events-hosts {

}

//USES DASH-MAIN and DASH-BODY for formatting

.city-name {
  display: block;
  padding-top: 210px;
  height: 100%;
  font-family: 'Lato';
  font-size: 56px;
  color: white;
  line-height: 1.1;
  margin-bottom: 0;
  text-shadow: 0 2px 2px rgba(0,0,0,.75);
}
