// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dash-body {
  width: 100;
  background-color: #f1efea;
}

.dash-main {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}


.main-content {
  display: flex;
  width: 75%;
  max-width: 960px;
  margin: 73px 10px 10px 10px;
  box-sizing: border-box;
  height: 3000px;
  background-color: blue;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 320px;
  box-sizing: border-box;
  margin:  73px 10px 10px 10px;
  height: 3000px;
  background-color: linen;
}

.sidebar-header {
  width: 100%;
  height: 103px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 18px;
}

.name {
  margin-bottom: 10px;
}
.location {
  color: slategrey;
}

.is-taking-guests {
  background-color: white;
  width: 100%;
  height: 60px;
  font-size: 18px;
  text-align: center;
  color: #333333;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.last {
  margin-bottom: 0;
  padding-top: 10px;
}

.fblink {
  height: 50px;
  padding-bottom: 10px;
}
.header-notifications {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  display: none;
  position: absolute;
  top: 56px;
  right: 0;
  width: 180px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  right: -20px;
}

.show {
  display: block;
}

.header-notifications > button {
  color: darkgrey;
  text-align: left;
  display: block;
  box-sizing: border-box;
  line-height: 45px;
  width: 100%;
  padding: 5px 10px;
}

.header-notifications > button:hover {
  background: #eee;
  color: orangered;
}
